* {
	box-sizing: border-box;
}

body,
html,
.site-wrap {
	margin: 0;
	min-height: 100vh;
	width: 100vw;
	font: 1.5em/2 'Open Sans', sans-serif;
}

.site-wrap {
	display: flex;
	flex-direction: column;
	font-family: 'Bad Script', cursive;
}

header {
 	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #622234;
	height: 15vh;
	width: 100vw;
	z-index: 1000;
}

.search-wrap {
	width: 100%;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

input {
	padding: 1;
	font-size: .5em;
}

button {
	padding: 2%;
    width: 120px;
    font-size: .5em;
}
/*--------------------------------------------------------*/

.gallery-wrap {
	display: flex;
    justify-content: center;
    min-height: 85vh;
}

.recipe {
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100vw;
}

.recipe-body {
	position: relative;
}

.recipe-img {
	max-width: 65vw;
}

img {
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

/*------------------------------------*/

.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0; 
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .65);
}

.photo-overlay {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.photo-overlay:hover {
	opacity: 1;
}