* {
	box-sizing: border-box;
}

body,
html,
.site-wrap {
	margin: 0;
	min-height: 100vh;
	width: 100vw;
	font: 1.5em/2 'Open Sans', sans-serif;
}

body {
	padding-top: 17%;
}

.site-wrap {
	display: flex;
	flex-direction: column;
	font-family: 'Bad Script', cursive;
}

header {
	position: fixed;
 	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #622234;
	height: 15vh;
	width: 100vw;
	z-index: 1000;
}

.search-wrap {
	width: 100%;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

input {
	padding: 1;
	font-size: .5em;
}

button {
	padding: 2%;
    width: 120px;
    font-size: .5em;
}

.gallery-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 85vh;
	width: 100vw;
	background-color: #ecf0f9;
}

.recipe {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	margin-top: 150px;
	background-color: #db8fa5;
	border: 8px solid #75293f;
	height: 1020px;
    width: 800px;
    box-shadow: 5px 10px 18px #888888;
}

.recipe-img {
	height: 550px;
	width: 500px;
	border: 6px solid #f3d9e1;
}

img {
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

h3 {
	margin: 0;
}

.recipe-title {
	font-size: 1.25em;
}
